@page
@model ForgotPasswordModel

@{
    Layout = "_AuthLayout";
}

<div class="bg-overlay"></div>
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow-lg border-0 rounded-3" style="width: 450px;">
        <div class="card-body p-4">
            <div class="mb-4 text-center">
                <img src="~/Images/logo 2.jpg" alt="Logo" class="img-fluid mb-3" width="350" />
                <h4 class="fw-bold">Reset Password</h4>
                <h1 class="h6 text-muted">Enter your email to reset your password</h1>
            </div>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
